.search {
	align-self: normal;
	background-color: var(--bg-color);
	margin: 0;
	padding: 154px 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search::after {
	content: '';
	border-bottom: 1px solid var(--border-colorGrey);
	width: 100%;
	padding-top: 109px;
	display: block;
	max-width: 1280px;
}

.search__input {
	/*Шрифт*/
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px; /*В макете ошибка*/
	color: var(--font-color);
}

.search__input::placeholder {
	/*Шрифт*/
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1em;
	line-height: 22px;
	color: var(--font-colorGrey);
}

.search__button {
	background: var(--color-blue) url("../../../../images/searchIcon.svg") no-repeat center center;
	border-radius: 50%;
	width: 34px;
	height: 34px;
}

.search__toggle_checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.search__toggle_checkbox:checked + .search__fake-toggle::before {
	background-color: var(--color-green);
}

.search__toggle_checkbox:checked + .search__fake-toggle::after {
	left: 22px;
}

@media screen and (min-width: 768px) {
	.search {
		padding-left: 30px;
		padding-right: 30px;
	}

	.search__input {
		font-size: 18px;
	}
}

@media screen and (min-width: 1000px) {
	.search {
		padding-top: 144px;
		padding-left: 70px;
		padding-right: 70px;
	}

	.search::after {
		padding-top: 69px;
	}
}
