.button_theme_disable {
	background-color: var(--bgInput-color);
	opacity: .8;
	color: var(--font-color);
}

.button:hover {
	cursor: default;
	filter: none;
}

.button:active {
	filter: none;
	box-shadow: none;
}
