.promo {
	display: flex;
	flex-direction: column;
}

.promo__container {
	margin: 60px auto;
	justify-items: center;
	display: grid;
	grid-template-columns: 1fr;
	gap: 56px;
}

.promo__brief {
	display: flex;
	flex-direction: column;
	gap: 16px;
	max-width: 330px;
}

.promo__subtitle {
	margin: 0;
	/*Шрифт*/
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: -0.04em;
}

.promo__time {
	display: grid;
	grid-template-columns: 100px 1fr;
	justify-items: center;
	align-items: center;
	row-gap: 10px;
}

.promo__block {
	margin: 0;
	width: 100%;
	padding: 11px 0;
	/*Шрифт*/
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
}

.promo__block_theme_green {
	background-color: var(--color-green);
	color: var(--color-black);
}

.promo__block_theme_grey {
	background-color: var(--color-lightgrey);
}

.promo__block_caption {
	margin: 0;
	/*Шрифт*/
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
	color: var(--color-fontgrey);
}

@media screen and (min-width: 425px) {
	.promo__time {
		grid-template-columns: 140px 1fr;
		row-gap: 14px;
	}

	.promo__block {
		font-size: 14px;
		line-height: 17px;
		padding: 10px 0;
	}

	.promo__block_caption {
		font-size: 14px;
		line-height: 17px;
	}

	.promo__container {
		margin: 70px auto 93px;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}

	.promo__brief {
		gap: 22px;
	}
}

@media screen and (min-width: 768px) {
	.promo__subtitle {
		font-size: 20px;
		line-height: 24px;
	}

	.promo__brief {
		max-width: 400px;
	}
}

@media screen and (min-width: 1000px) {
	.promo__container {
		margin: 70px auto 110px;
		gap: 40px;
	}

	.promo__brief {
		max-width: 550px;
		gap: 26px;
	}

	.promo__time {
		grid-template-columns: 228px 1fr;
	}
}
