.portfolio {
	display: flex;
	flex-direction: column;
	margin-top: 0;
}

.portfolio__title {
	margin: 0;
	/*Шрифт*/
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: var(--font-colorGrey);
}

.portfolio__links {
	padding: 0;
	margin: 40px 0 0;
	list-style: none;
	display: flex;
	flex-direction: column;
}

.portfolio__link {
	margin-top: 20px;
	padding-bottom: 19px;
	border-bottom: 1px solid var(--border-colorGrey);
	/*Шрифт*/
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: -0.04em;
	color: var(--font-color);
	text-decoration: none;
}

.portfolio__link:last-of-type {
	border: none;
	padding: 0;
}
.portfolio__link_arrow {
	background: url("../../../images/linkArrow.svg") no-repeat center right;
	/*Анимация*/
	transition: filter linear .2s, opacity linear .2s;
}

.portfolio__link_arrow:hover {
	cursor: pointer;
	filter: drop-shadow(0 3px 3px var(--color-black));
}

.portfolio__link_arrow:active {
	opacity: .8;
}

@media screen and (min-width: 768px) {
	.portfolio__title {
		font-size: 18px;
		line-height: 20px;
	}

	.portfolio__links {
		margin-top: 50px;
	}

	.portfolio__link {
		font-size: 28px;
		line-height: 50px;
	}

	.portfolio__link_arrow {
		background-size: 16px;
	}
}

@media screen and (min-width: 1000px) {
	.portfolio__link {
		font-size: 30px;
	}

	.portfolio__link_arrow {
		background-size: 18px;
	}
}
