.film {
	background-color: var(--color-carbonic);
	box-sizing: border-box;
	width: 100%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.film__header {
	width: 100%;
	padding: 14px;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 30px;
	row-gap: 9px;
	column-gap: 20px;
	align-items: center;
}

.film__title {
	margin: 0;
	word-wrap: anywhere;
	/*Шрифт*/
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: var(--font-color);
}

.film__time {
	margin: 0;
	/*Шрифт*/
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
	color: var(--font-colorGrey);
}

.film__like-button {
	border-radius: 50%;
	background: var(--elem-color) url("../../../images/saveIcon.svg") no-repeat center center;
	width: 30px;
	height: 30px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
	/*Анимация*/
	transition: background-color ease-out .2s, background-image ease-out .2s;
}

.film__like-button_active {
	background-color: var(--color-green);
	background-image: url("../../../images/saveIcon-active.svg");
}

.film__remove-button {
	border-radius: 50%;
	background: var(--elem-color) url("../../../images/removeIcon.svg") no-repeat center center;
	width: 30px;
	height: 30px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}

.film__image {
	max-height: 250px;
	width: 100%;
	object-fit: contain;
	object-position: center;
	background-color: var(--elem-color);
}
