:root {
	--color-white: #fff;
	--color-matewhite: #dadada;
	--color-bordergrey: #e6e6e6;
	--color-fontgrey: #a0a0a0;
	--color-fontfootergrey: #8b8b8b;
	--color-borderfootergrey: #424242;
	--color-lightgrey: #303030;
	--color-grey: #272727;
	--color-darkgrey: #202020;
	--color-black: #000;
	--color-green: #3ddc84;
	--color-darkblue: #073042;
	/*Темизация*/
	--bg-color: var(--color-darkgrey);
	--font-color: var(--color-white);
	--elem-color: var(--color-lightgrey);
}
