.search {
	align-self: normal;
	background-color: var(--bg-color);
	margin: 0;
	padding: 154px 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search::after {
	content: '';
	border-bottom: 1px solid var(--border-colorGrey);
	width: 100%;
	padding-top: 109px;
	display: block;
	max-width: 1280px;
}

.search__form {
	display: flex;
	flex-direction: column;
	gap: 45px;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	max-width: 1280px;
}

.search__input-container {
	display: grid;
	padding: 25px 19px;
	box-sizing: border-box;
	align-items: center;
	grid-template-columns: 1fr 34px;
	width: 100%;
	gap: 46px;
	background-color: var(--color-carbonic);
	box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
	border-radius: 9px;
}

.search__input {
	/*Шрифт*/
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px; /*В макете ошибка*/
	color: var(--font-color);
}

.search__input::placeholder {
	/*Шрифт*/
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1em;
	line-height: 22px;
	color: var(--font-colorGrey);
}

.search__button {
	background: var(--color-blue) url("../../../images/searchIcon.svg") no-repeat center center;
	border-radius: 50%;
	width: 34px;
	height: 34px;
}

.search__toggle {
	width: 100%;
	display: flex;
	gap: 15px; /*Явная ошибка в верстке*/
	align-items: center;
	justify-content: center;
}

.search__toggle_text {
	/*Шрифт*/
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 18px;
	color: var(--font-color);
}

.search__toggle_checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.search__fake-toggle {
	position: relative;
	display: inline-flex;
	align-items: center;
	user-select: none;
}

.search__fake-toggle:hover {
	cursor: pointer;
}

.search__fake-toggle::before {
	content: '';
	display: inline-block;
	width: 36px;
	height: 20px;
	flex-shrink: 0;
	flex-grow: 0;
	border-radius: 20px;
	background-color: var(--bgInput-color);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
	/*Анимация*/
	transition: background-color linear .2s;
}

.search__fake-toggle::after {
	content: '';
	position: absolute;
	background-color: var(--font-color);
	width: 8px;
	height: 8px;
	left: 8px;
	border-radius: 50%;
	/*Анимация*/
	transition: left linear .2s;
}

.search__toggle_checkbox:checked + .search__fake-toggle::before {
	background-color: var(--color-green);
}

.search__toggle_checkbox:checked + .search__fake-toggle::after {
	left: 22px;
}

@media screen and (min-width: 768px) {
	.search {
		padding-left: 30px;
		padding-right: 30px;
	}

	.search__form {
		flex-direction: row;
		background-color: var(--color-carbonic);
		box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
		border-radius: 9px;
		gap: 0;
		padding: 16px 20px;
	}

	.search__form::before {
		content: '';
		width: 34px;
		height: 34px;
		background: url("../../../images/searchIconG.svg") no-repeat center center;
		flex-shrink: 0;
		margin-right: 10px;
	}

	.search__input-container {
		background-color: transparent;
		border-radius: 0;
		box-shadow: none;
		padding: 0 19px 0 0;
	}

	.search__input {
		font-size: 18px;
	}

	.search__toggle {
		width: auto;
	}

	.search__toggle::before {
		content: '';
		border-left: 1px solid #505050;
		height: 40px;
		margin-right: 4px;
	}

	.search__toggle_text {
		font-size: 13px;
	}
}

@media screen and (min-width: 1000px) {
	.search {
		padding-top: 144px;
		padding-left: 70px;
		padding-right: 70px;
	}

	.search::after {
		padding-top: 69px;
	}

	.search__form {
		padding-right: 30px;
	}

	.search__toggle::before {
		margin-right: 14px;
	}
}
